.features-section__list {
    display: flex;
    align-content: flex-start;
}
.features-section__item {
    width: 270px;
}
.features-section__list .features-section__item+.features-section__item {
    margin-left: 30px;
}
.features-section__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
.features-section__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
.features-section__icon  {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;
}
.features-section__svg {
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
}