.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    width: 145px;
    text-decoration: none;
}

.main-nav__logo {
    color: #000000;
}

.address__logo {
    color: var(--header-color);
}